.product-detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
}

.product-detail h2 {
  margin-bottom: 10px;
}

.product-detail div {
  margin: 10px 0;
}

.product-detail input {
  width: 60px;
  margin-left: 10px;
}