<div class="login-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="email" required>
                    <mat-error *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
                        Email is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="password" required>
                    <mat-error
                        *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>
            <div class="goto">
                <a mat-button routerLink="/auth/register">Go to Sign-up</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>